* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #545454;
}



.form-container {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border: 1px solid rgb(179, 25, 179);
    max-width: 37.5rem;
    padding: 1.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-height: auto;   


}


div {
    margin-bottom: 1rem;


}

label {
    margin-bottom: 0.5rem;
    font-size: 15px;
}



h1 {
    margin-top: 2.18rem;
    margin-bottom: 1.25rem;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

*[disabled] {
    color: lightgray;
}

a {
    color: #007BFF; /* Normal state color */
    text-decoration: none; /* Remove underline */
}

.email-block {
    display: block;

}

.firstName-div,
.lastName-div {
    display: inline-block;

}


.lastName-div label,
.firstName-div label {
    display: block;
}



.form-container input,
.form-container select {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

input[type="text"],
input[type="email"],
select {

    height: 2.3rem;
    border-radius: 8px;
    box-sizing: border-box;


}


.country-div select {
    color: #999;
    /* Placeholder text color */
}

.custom-select-wrapper select option[disabled] {
    color: #888;
}

input:focus,
select:focus {
    border: 2px solid #007BFF;
    /* Change the color and width as needed */
    outline: none;
    /* Remove the default outline */
    padding-left: 10px;
}

.lastName-div input,
.firstName-div input {
    width: 15.5rem;


}

.gender {
    margin-top: 1.5rem;

}

.gender label {
    display: inline-block;
    margin-right: 1rem;


}

.gender input {
    width: 1.25rem;
    vertical-align: middle;


}



.email-div input {

    width: 100%;
    margin-bottom: 0.5rem;
}

.email-div-paragraph {
    font-size: 13px;
}

.country-div label {
    display: block; /* Display block to ensure label appears above the select */
    margin-bottom: 5px; /* Space between label and select */
}

.country-div select{
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    padding-left: 10px;
    background-image: 
        url('data:image/svg+xml;utf8,<svg fill="%23999" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="M1.5 4.5 l2-2 l2 2 Z"/></svg>'), 
        url('data:image/svg+xml;utf8,<svg fill="%23999" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="M1.5 3.5 l2 2 l2-2 Z"/></svg>'); /* Custom arrows SVG */
    background-size: 20px; /* Size of the arrows */
    background-repeat: no-repeat; /* No repeat */
    background-position: right 10px top 30%, right 10px top 70%;
}

.country-div,
.city-div {
    display: inline-block;
    margin-bottom: 1.2rem;

}

.country-div label,
.city-div label {
    display: block;
}

.country-div select,
.city-div input {
    width: 15.3rem;
    border-radius: 8px;
}

.terms,
.login {
    text-align: center;
}

.terms p{
    font-weight: 400;
    font-size: 13px;
    color: #969696;
}  


.login p{
    font-size: 15px;
    color: #545454;
}

.text-break {
    display: block;
}

button {
    background-color: #007BFF;
    display: block;
    width: 100%;
    height: 2.4rem;
    margin-bottom: 1.37rem;
    border-radius: 8px;
    border: none;
    color: white;
    box-sizing: border-box;

}

.terms,
.login {

    width: 100%;
    text-align: center;
}

.terms-login-break {
    border: 0.2px solid lightgray;
    width: 100%;
}


.radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.radio-label input[type="radio"] {
    display: none;
}

.switch-input {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid #ccc;
    margin-right: 10px;
    transition: border 0.3s ease, background-color 0.3s ease;
    vertical-align: top;
}

.radio-label input[type="radio"]:checked+.switch-input {
    border: 6px solid #007BFF;
    outline: 0.5px solid #007BFF;
    ;
    background-color: white;


}

.radio-label input[type="radio"]:focus+.switch-input {
    outline: 5px solid #007BFF;
    background-color: white;
}

.radio-label input[type="radio"]:disabled+.switch-input {
    border-color: #ddd;
    background-color: #ddd;
    cursor: not-allowed;
}